<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>TRANSACTION RECEIPT</h1>
  <h2>ID: {{id}}</h2>
  <h2>Ticket Amount: {{amount}}</h2>
  <h2>BookingCode: {{bookingCode}}</h2>
  <h4>{{createdAt}}</h4>
</body>
</html>